.bill{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 1rem;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__head{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-total{
            font-size: 1.5rem;
            font-weight: 600;
            opacity: 80%;
            text-align: center;
        }

        &-number{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            p {opacity: 80%;}
            span{font-weight: 600;}
        }
    }

    &__line{
        width: 75%;
        align-self: center;
        height: 1px;
        background: #E7E7E7;
        margin: 1rem 0;
    }

    &__details{
        display: flex;
        flex-direction: column;

        &-add{
            
            button{
                font-size: 1rem;
                padding: .6em 1.2em;
                font-weight: 600;
                border: none;
                color: #FFFFFF;
                border-radius: 10px;
                background: $color-main;
                cursor: pointer;
                margin-bottom: 1rem;
            }
        }

        &-title{
            font-weight: 600;
        }

        &-list{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            opacity: 80%;

            p{
                max-width: 180px;
                text-align: right;
                word-wrap: break-word;
            }
        }

        &-total{
            font-size: 1.5rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
        }

        &-pay{
            text-decoration: underline;
            color: $color-main;
            cursor: pointer;
        }
    }

    &__button{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        button{
            width: 100%;
            border: none;
            background: transparent;
            border-radius: 5px;
            color: $color-main;
            border: 1px solid $color-main;
            font-size: 1.5rem;
            cursor: pointer;
            padding: .5rem 0;
            transition: .3s ease-in-out;

            &:hover{
                color: #FFFFFF;
                background: $color-main;
            }
        }
    }

    &__input-detail{
        font-size: 1rem;
        width: 100px;
        text-align: right;
        margin-top: 5px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        background: #FFFFFF;
    }

    &__input-detail[name="address"]{
        width: 80%;
    }

    &__input-qt{
        @extend .bill__input-detail;
        max-width: 50px;
        margin-left: 5px;
    }

    &__del-item{
        margin-left: 5px;
        color: #ff0000;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        background: transparent;
        transition: .3s ease-in-out;

        &:hover{
            color: #FFFFFF;
            background: #ff0000;
        }
    }
}