@media screen and (max-width: 992px) {

    .delivery{

        &__img{
            width: 100%;
        }

        &__text{
            width: 100%;
        }
    }

    .invite{

        &__info{

            h2{
                font-size: $text-extra;
                line-height: normal;
            }

            p{
                margin-top: 1.5rem;
                font-size: $text-normal;
            }
        }

        &__action{

            p{
                font-size: $text-medium;
            }

            a{
                font-size: $text-large;
            }
        }
    }

    .nav-profile{

        img{
            display: none;
            visibility: hidden;
        }

        .dropdown-menu{
            position: absolute;
        }
    }

    .nav__cart{

        position: absolute;
        top: 5px;
        right: -2.5rem;
    }
}

@media screen and (max-width: 768px) {
    
    .hero{
        
        h1{
            font-size: 150px;
        }

        p{
            font-size: $text-large;
        }
    }

    
    .contact{

        .col-md-4{
            margin-bottom: 2rem;
        }

        i{
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        h2{
            margin-bottom: 1rem;
        }
    }

    .invite{

        &__info{

            text-align: center;

            h2{
                padding: 0;
            }
        }

        &__action{

            a{
                margin-top: 1rem;
            }
        }
    }

    .footer{

        &__about, 
        &__contact{
            text-align: center;
        }

        &__icons{

            justify-content: center!important;
        }
    }

    .order{
        font-size: .75rem;

        &__item{
            grid-template-columns: repeat(3,1fr);
        }

        &__status{
            padding: .5rem 1rem;
        }
    }
}

@media screen and (max-width: 576px) {

    .login{

        &__inputs{

            padding: 0 1rem;
        }
    }

    .register{

        &__inline &__box{

            max-width: none;
        }

        &__title{

            font-size: $text-large;
        }
    }

    .navbar{
        
        .nav-wrapper{
            padding: 10px 12px;
        }
        
        .navbar-brand{
            font-size: $text-large;
        }
    }
    
    .hero{

        h1{
            font-size: 80px;
            margin-top: -1rem;
        }

        p{
            font-size: $text-medium;
        }

        &__button{
            margin-top: 6rem;
        }
    }

    .delivery{

        &__img{

            height: 300px;
        }

        &__text{

            h2{
                font-size: $text-large;
              }
            
            p{
                font-size: $text-normal;
            }
        }

        button{
            font-size: $text-medium;
        }
    }

    .menu{

        &__filter{

            &-box{

                font-size: $text-small;
                padding: .5rem .85rem;
            }
        }

        .card{

            max-width: 160px;
    
            &-img-top{
    
                height: 115px;
            }
    
            &-title{
    
                font-size: $text-normal;
            }
    
            &-subtitle{
    
                font-size: $text-small;
            }
    
            &-btn{
                font-size: .7rem;
                padding: 5px 10px;
            }
    
            &-body{
    
                padding: .75rem;
            }
        }
    }

    .detail{

        form{
            flex-direction: column;
        }

        &__qt, &__add{
            width: 100%;
        }


        &__img{
            height: 250px;
        }
    }

    .cart{

        &__menu{

            &-img{
                
                height: 80px;
            }

            &-name,
            &-type{

                font-size: $text-small;
            }

            &-price p{

                font-size: $text-medium;
            }
        }

        &__button{

            button{

                font-size: $text-normal;
            }
        }
    }
}

@media screen and (max-width: 375px) {

    .container{

        padding-left: .5rem;
        padding-right: .5rem;
    }

    .cart{

        &__menu{

            &-img{
                
                height: 60px;
            }
        }

        &__total{
            font-size: $text-large;
            font-weight: 600;
    
            &-serv{
                font-weight: normal;
                font-size: $text-medium;
            }
        }

        &__button{

            button{

                font-size: .75rem;
            }
        }
    }

    .invite{

        &__action{

            p{
                font-size: $text-normal;
            }

            a{
                font-size: $text-normal;
            }
        }
    }

    .menu{

        .card{

            max-width: 144px;
    
            &-img-top{
    
                height: 100px;
            }

            &-text{

                font-size: $text-small;
            }
    
            &-title{

                margin-bottom: 2px;
            }
    
            &-body{
    
                padding: .5rem .75rem;
            }
        }
    }

    
}