.cart{
    padding-top: 70px;

    &__number{
        font-weight: 600;
        span{
            background: $color-main;
            width: 45px;
            height: 45px;
            color: #FFFFFF;
            font-size: $text-medium;
        }
    }

    &__items{
        min-height: 400px;
        max-height: 400px;
        overflow-y: auto;
    }

    &__menu{

        &-img{
            width: 120px;
            height: 100px;
            overflow: hidden;
            box-shadow: $shadow;
            border-radius: 10px;

            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-name{
            font-size: $text-medium;
            font-weight: 600;
        }

        &-price{

            p{
                font-size: $text-large;
                font-weight: 600;
                margin-right: 10px;
            }

            i{
                color: red;
                cursor: pointer;
                transition: .3s;
                padding: .5rem;
                border-radius: 5px;
                
                &:hover{
                    background: red;
                    color: #FFFFFF;
                }
            }
        }
    }

    &__button{
        button{
            border: 1px solid $color-main;
            outline: none;
            color: $color-main;
            background: transparent;
            transition: .3s;
            border-radius: 5px;
            font-size: $text-medium;
            font-weight: 600;
            padding: 1rem 2rem;

            &:hover{
                background: $color-main;
                color: #FFFFFF;
            }
        }
    }

    &__total{
        font-size: $text-extra;
        font-weight: 600;

        &-serv{
            font-weight: normal;
            font-size: $text-medium;
        }
    }
}