.order{
    padding-top: 70px;

    &__items{
        min-height: 350px;
    }

    &__item{
        width: 100%;
        border: 1px solid #7E7E7E;
        padding: 1rem;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        align-items: center;
        gap: 1rem;
        text-align: center;

    }

    &__details, &__pay{
        a{
            color: $color-main;
            text-decoration: underline;
        }  
    }

    &__status{
        background: $color-main;
        color: #FFFFFF;
        border-radius: 5px;
        padding: .7rem 2rem;
    }
}