.register{

    background: $gradient;

    &__title{
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: $text-extra;
        margin-bottom: 3rem;
        text-align: center;
    }

    &__inputs{
        width: 100%;
        padding: 0 1rem;
    }

    &__box{
        background: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 460px;
        height: 80px;
        padding: .8rem;
        gap: 10px;
    }

    &__label{
        color: rgba(255, 255, 255, 0.5);
        font-size: $text-small;
    }

    &__input{
        background: transparent;
        border: none;
        color: #FFFFFF;

        &::placeholder{
            color: #FFFFFF;
            opacity: 60%;
        }
    }

    &__inline{
        width: 100%;
        max-width: 460px;
    }

    &__inline &__box{
        width: 100%;
        max-width: 220px;
    }
    
    &__address{
        height: 160px;
    }

    &__button{
        width: 100%;
        max-width: 460px;
        height: 80px;
        background: $color-main;
        color: #FFFFFF;
        border-radius: 5px;
        display: flex;
        align-items: center;
        transition: .3s;

        input{
            opacity: 0;
        }

        span{
            font-weight: 600;
            font-size: $text-medium;
        }

        &:hover{
            filter: brightness(80%);
        }
    }
}