.hero{
    padding-top: 70px;
    background: url('../asset/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    p{
        font-size: $text-extra;
        font-weight: 700;
    }

    h1{
        font-size: 200px;
        font-family: $font-logo;
        margin-top: -2rem;
    }

    &__button{
        width: 30px;
        height: 72px;
        cursor: pointer;
    }

    &__scroll{
        width: 10px;
        height: 20px;
        background: #FFFFFF;
        margin-top: 10px;
        transition: .3s;

        &-active{
            transform: translateY(1.5rem);

        }
    }
}

.contact{

    .col-md-4{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    i{
        font-size: 3rem;
        color: $color-main;
        margin-bottom: 4.5rem;
    }

    h2{
        color: $color-main;
        font-size: $text-large;
        margin-bottom: 2rem;
    }

    p{
        max-width: 250px;
        opacity: 70%;
        font-size: $text-medium;
    }
}

.recommand{

    background: $color-text;

    &__line{
        background: $color-main;
        width: 150px;
        height: 1px;
    }

    .carousel-indicators{
        bottom: -4rem;
    }
}

.delivery{

    &__img{
        width: 435px;
        height: 490px;
        box-shadow: $shadow;

        img{
            object-position: center;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__text{
        background: rgba(196, 196, 196, 0.22);
        width: 500px;
        z-index: -1;

        h2{
            color: $color-main;
            font-size: $text-extra;
            margin-bottom: 1rem;
            font-weight: 700;
        }

        p{
            opacity: 65%;
            font-size: $text-medium;
        }
    }

    button{
        font-size: $text-large;
    }
}

.invite{
    padding: 5rem 0;
    background: linear-gradient(180deg, rgba(255, 138, 0, 0.6) 0%, #FF8A00 100%), url('../asset/chef-process-making-pizza-dough.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__info{

        h2{
            font-size: 3.5rem;
            line-height: 5.2rem;
            padding-right: 4rem;
        }

        p{
            font-size: $text-medium;
            margin-top: 2.5rem;
        }

    }

    &__action{

        p{
            font-size: $text-large;
            font-weight: 600;
        }

        a{
            text-decoration: none;
            border: 2px solid #FFFFFF;
            color: #FFFFFF;
            font-size: $text-extra;
            padding: 1rem 3rem;
            margin-top: 2rem;
            transition: .3s;

            &:hover{
                color: $color-main;
                background: #FFFFFF;
            }
        }
    }
}